.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

.homepage div {
  width: 50%;
  padding: 0 15px;
}

.homepage h1 {
  color: floralwhite;
  font-family: monospace;
}
.homepage h2 {
  color: floralwhite;
  font-family: monospace;
}

.homepage div img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("images/moroccan-flower-dark.png");
  /*white background*/
}
@media (max-width: 550px) {
  .homepage {
    flex-direction: column-reverse;
    text-align: center;
  }
  .homepage div {
    width: 100%;
  }

  .about {
    flex-direction: row;
    text-align: center;
  }
}

main.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

.about section {
  display: flex;
  flex-direction: row;
}

.image1 {
  max-width: 50vw;
  width: 100%;
  height: 100%;
  border-radius: 90%;
}
.image2 {
  max-width: 50vw;
  width: 100%;
  height: 100%;
  border-radius: 90%;
  padding: 15px;
}

.about div {
  width: 80%;
  padding: 0 15px;
  max-height: 500px;
  max-width: 400px;
}

.about .text_width {
  width: 90%;
  padding: 0 15px;
  max-height: 700px;
  max-width: 600px;
}

.about h1 {
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 55px;
}

.about p {
  padding: 0 15px;
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

@media (max-width: 550px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about div {
    width: 100%;
  }
  .about section {
    display: flex;
    flex-direction: column;
  }
  .pic.holder {
    display: flex;
    width: fit-content;
  }
  .about p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
}

.text_width {
  width: 40%;
  padding-right: 15px;
}

main.skills {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

.div.container {
  display: flex;
  flex-direction: row;
}

.widthhalf {
  width: 50%;
}

.progress_bar {
  height: 30px;
  width: 80%;
  background: black;
  border-radius: 10px;
}

.progress_bar div {
  height: 100%;
  background: turquoise;
  border-radius: 10px;
}

.skills h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
  margin-top: 50px;
}
.skills h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
}

.skills p {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
}

@media (max-width: 550px) {
  .skills .div.container {
    display: flex;
    flex-direction: column-reverse;
  }

  .skills .widthhalf {
    width: 100%;
  }
}

main.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

.contact img {
  max-width: 350px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 15px;
}

.contact p {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
}

.contact div {
  width: 50%;
  padding: 0 15px;
}

.contact textarea {
  width: 70%;
}

.contact section {
  width: 100%;
  display: flex;
}

@media (max-width: 550px) {
  .contact section {
    flex-direction: column;
    text-align: center;
  }
  .contact section div {
    width: 100%;
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: grey;
  left: 0;
  right: 0;
  height: 45px;
  display: flex;
}

nav a {
  float: left;
  display: block;

  color: floralwhite;
  font-family: monospace;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background: #ddd;
  color: black;
}

@media (max-width: 550px) {
  nav {
    position: fixed;
    height: auto;
    flex-wrap: wrap;
  }
}

.contact label {
  color: floralwhite;
  font-family: monospace;
}

.contact h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;
}
.contact div#head {
  align-self: flex-start;
  margin-top: 50px;

  /*need to sort position*/
}
